<div class="mainPage">
  <section>
    <ul class="book-list" style="text-decoration: none;">
      {{#each books as |book|}}
      <li>
        {{> post-info book}}
        <br> - By {{book.author}}
      </li>
      {{/each}}
    </ul>
  </section>
  <section id="bookDetails" class="comments">
    <div id="bookDetails">

      <h2>{{books.selectedId.title}}</h2>
      <h4> Desription about the book</h4>

    </div>

    <textarea id="postComment"></textarea>
    <button type="submit" id="submitComment">Send</button>
  </section>
</div>

</body>

{{!-- {{#if books.length}}
<section>
  <h2>Your Books</h2>
  <ol>
    {{#each books as |book|}}
    <li>
      {{> book-info book}}
      <a href="/dashboard/edit/{{book.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}} --}}

<script src="/javascript/books.js"></script>