<form action="/login" role="form" enctype="application/x-www-form-urlencoded" class="login-form">
    <div class="container">
        <h3>Login</h3>
        <p>Hello {{userName}}</p>
        <hr>

        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" id="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="password" required>

        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me>
        </label>

        {{!-- After pressing the login button, the user should be taken to the selctiion page. --}}
        <div>
            <button formmethod="post" type="submit" class="loginbtn"> Login</button>
            <button type="reset" class="cancelbtn">Cancel</button>
        </div>
      
    </div>
    <br>
</form>
<script src="/javascript/login.js"></script>
