
<form role="form" enctype="application/x-www-form-urlencoded" class="actionTaken-form">
    <div class="container">
        <h3>Next Step</h3>
        <p>Please select whether you wish to provide comments on a book, or whether you wish to research other people's
            comments.</p>
        <hr>

        <div>
            <div>
                <div class="columnLeft">
                    <label class=" px-2" for="authorTitle"><b>Kindly select comment or research:</b></label>
                </div>
                <div class="columnRight">
                    <select name="commentSelection" id="commentSelection" class=" px-3" onchange="choiceChange(this)">
                        <option value="" disabled selected>Select your choice of action</option>
                        <option value="c">Comment</option>
                        <option value="r">Research</option>
                    </select>
                </div>
                <div id="author">
                    <div class="columnLeft">
                        <label class=" px-2" for="authorTitle"><b>Kindly select author or title of the book:</b></label>
                    </div>
                    <div class="columnRight">
                        <select name="authorSelection" id="authorSelection" class=" px-3">
                            <option value="" disabled selected>Select your choice of action</option>
                            <option value="a">Author</option>
                            <option value="t">Title</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div id="comment">
                <label for="authorTitle"><b>Please write the name of author or title you wish to comment or
                        research.</b></label>
                <input id="authorTitleInput" type="text" placeholder="Enter name of author or title of book"
                    name="authorTitleInput" required>
            </div>
        </div>

        <div>
            {{!-- <button formaction="/finalpage" formmethod="post" type="submit" class="submitbtn"> Submit</button> --}}
            <button id="submit" type="submit">Submit</button>
            <button id="logout" class="btn-no-style">Logout</button>
        </div>
    </div>
</form>
  <script src="/javascript/selection.js"></script>
  