<form role="form" enctype="application/x-www-form-urlencoded" class="actionTaken-form">
    <div class="container">
        <h3>Next Step</h3>
        <p>Please select whether you wish to provide comments on a book, or whether you wish to research other people's
            comments.</p>


        <hr>

        <div style="text-align: center;">
            <form>
                <button formaction="/comment" formmethod="get" id="comment" class="signupbtn">Comment</button>
                <button formaction="/research" formmethod="get" id="research" class="loginbtn">Research</button>
                <button id="logout" class="btn-no-style">Logout</button>
            </form>
        </div>

    </div>
</form>
<script src="/javascript/selection.js"></script>
<script src="/javascript/logout.js"></script>