<div>
    <form role="form" enctype="application/x-www-form-urlencoded" class="signup-form">

        <div class="container">
            <h3>Sign Up</h3>
            <p>Please complete this form to create an account.</p>
            <hr>

            <label for="fullname"><b>Full Name</b></label>
            <input type="text" placeholder="Enter First & Last Name" id="fullname" required>

            <label for="username"><b>Email - Username</b></label>
            <input type="text" placeholder="Enter Email - it will be your username" id="username" required>

            <label for="bookclubaffiliation"><b>Book Club</b></label>
            <input type="text" placeholder="Enter Book Club Affiliation" id="bookclubaffiliation" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Select Password" id="password" required>

            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>

            <p>By creating an account you agree to our <a href="#" style="color:rgb(255, 30, 30)">Terms and Privacy</a>.
            </p>

            <div>
                <button type="submit" class="signupbtn">Sign Up</button>
                <button type="reset" class="cancelbtn">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script src="/javascript/signup.js"></script>