<div class="container">
    <div class="paragraphs">
        <p>
            Are you an avid reader? Do you love to curl up in your favorite reading chair and devour a good book? We love that too, but what if you want to share your love for an author, discuss a book’s thorny moral questions, or just share your insights – well,
            Dragon’s Den wants you to know that reading need not be an isolated affair.
        </p>
        <p>
            In-person book clubs may still be shelved for the foreseeable future, but online book clubs have sprouted up across the globe, breaking physical barriers and crossing international borders to bring like-minded bookworms — and your favorite authors — into
            your living room.
        </p>
    </div>

    <div>
        <p>
            Are you a member or do you want to signup?
        </p>
    </div>
    <hr>
    <div>
        <form>
            <button formaction="/signup" formmethod="get" id="generateSign" class="btn">Signup</button>
            <button formaction="/login" formmethod="get" id="generateLog" class="btn">Login</button>
        </form>
    </div>
</div>