<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>Dragon's Den</title>
</head>

<body>
    <header>
        <h1>
            Dragon's Den
        </h1>
        <h2>
            Welcome to Dragon's Den, where learned peopled provide insight
        </h2>
    </header>
    <!-- All three pages are the same up to this point -->

    <main>
        {{{body}}}

        <!-- Footer sahres the code across all three pages  -->
        <footer>
            <div>
                <h4> Developed by Team Percy Jackson</h4>
                <a href="./privacy-policy.html">Read Our Privacy Policy</a><br /> &copy; 2021 Dragon's Den, Inc.
            </div>
        </footer>
    </main>

</body>

</html>